*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: black; */
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  position: relative;
}

.player {
  width: 74px;
  height: 71px;
  position: relative;
}

.nickname {
  position: absolute;
  top: -23px;
  height: 20px;
  width: 95px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: left;
  padding: 2px 10px;
}

#red .nickname {
  right: 0;
  text-align: right;
}

.player-event {
  transform: scaleY(0);
  width: 74px;
  height: 71px;
  position: relative;
  transform-origin: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.level {
  display: none;
  transform-origin: center;
  font-size: 50px;
  margin-top: 7px;
  line-height: 1;
  transform: translateY(-100%);
}

.levelUp {
  animation: backgroundUp 0.4s ease-out forwards,
    backgroundDown 0.4s ease-out 2.85s forwards;
}

.levelUp .level {
  display: block;
  animation: levelIn 0.4s ease-in 0.05s forwards,
    levelOut 0.4s ease-in 2.6s forwards;
}

.item {
  display: none;
  object-fit: contain;
  width: 60px;
  height: 60px;
  transform: translateY(-100%);
}

.itemBuy {
  animation: backgroundUp 0.4s ease-out forwards,
    backgroundDown 0.4s ease-out 3.45s forwards;
}

.itemBuy .item {
  display: block;
  animation: levelIn 0.4s ease-in 0.1s forwards,
    levelOut 0.4s ease-in 3.15s forwards;
}

.player:not(:last-child) {
  margin-bottom: 32px;
}

#blue {
  margin-left: 2px;
}

#blue .player .player-event {
  background: var(--blue-team);
  background: linear-gradient(
    180deg,
    var(--blue-team) 0%,
    var(--blue-team-dark) 250%
  );
  -webkit-mask-image: radial-gradient(
    circle 18px at 70px 9px,
    transparent 0,
    transparent 12px,
    black 13px
  );
}

#blue .player .level {
  color: var(--background-color);
}

#red {
  margin-right: 2px;
  margin-left: auto;
}

#red .player .player-event {
  background: var(--red-team);
  background: linear-gradient(
    180deg,
    var(--red-team) 0%,
    var(--red-team-dark) 250%
  );
  -webkit-mask-image: radial-gradient(
    circle 18px at 4px 9px,
    transparent 0,
    transparent 12px,
    black 13px
  );
}

#red .player .level {
  color: var(--text-color);
}

@keyframes backgroundUp {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes backgroundDown {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes levelIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes levelOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

#inhibDiv {
  opacity: 1;
  background-image: url(./img/inhibbadge.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 310px;
  height: 135px;
  position: absolute;
  left: 0;
  bottom: 135px;
  transform: translateY(-100%);
  transition: opacity 0.3s ease;
  color: var(--text-color);
}

#inhibDiv.both {
  padding: 30px 20px 0 20px;
}

#inhibDiv.both #blueSide,
#inhibDiv.both #redSide {
  opacity: 1;
  width: 40%;
  padding: 0px;
}
#inhibDiv.both #blueSide {
  left: 20px;
}
#inhibDiv.both #blueSide::after {
  content: '';
  height: 135%;
  width: 2px;
  position: absolute;
  right: -10px;
  top: 0;
  background-color: var(--text-color);
}
#inhibDiv.both #redSide {
  right: 20px;
}

#inhibDiv.both .inhibitor,
#inhibDiv.both .inhibitor svg {
  width: 25px;
  height: 25px;
}

#inhibDiv.both .inhibitors h3 {
  font-size: 20px;
}

.inhibitors {
  transform: scale(1);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 0.5s ease;
  padding: 7px 30px 10px 22px;
  position: absolute;
}

.inhibitors h3 {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  font-family: var(--primary-font-family);
  font-size: 30px;
  position: relative;
  letter-spacing: 7.5px;
}

.inhibitor,
.inhibitor svg {
  width: 50px;
  height: 50px;
}

.inhibitor {
  --percent: 0%;
  position: relative;
  text-align: center;
}

.inhibitor.L1::before {
  content: url(./img/top.svg);
}
.inhibitor.C1::before {
  content: url(./img/mid.svg);
}
.inhibitor.R1::before {
  content: url(./img/bottom.svg);
}

.inhibitor::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0,
    transparent calc(var(--percent) * 1%),
    black calc(calc(var(--percent) * 1%) - 1px)
  );
}

#blueSide h3 {
  color: var(--blue-team);
}

#redSide h3 {
  color: var(--red-team);
}

#inhibDiv.hide,
#inhibDiv .hide {
  opacity: 0 !important;
}

#turrets {
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);
  width: 610px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.turrets {
  display: flex;
}

.turret {
  margin-right: 5px;
  object-fit: contain;
  width: 18px;
}

#blueTurrets {
  color: #0099e0;
}

#redTurrets {
  color: #e83d3d;
}

.event {
  position: absolute;
  left: -2px;
  top: 0;
  margin-top: -25px;
  width: 155px;
  height: 520px;
  background-color: var(--background-color);

  padding-top: 25px;
  z-index: 100;

  text-align: center;
  color: var(--text-color);

  transform: translateX(-200%);
  transition: transform 1s ease;
}

.event.show {
  transform: translateX(0);
}

.event::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, var(--blue-team) -25%, rgba(0,0,0,0) 75%);
  z-index: 0;
}

.event-name {
  font-family: var(--primary-font-family);
  font-size: 50px;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.event-time {
  font-family: var(--secondary-font-family);
  font-size: 20px;
  position: relative;
  z-index: 1;
}

#blue .event-time {
  color: var(--blue-team);
}

#red .event-time {
  color: var(--red-team);
}

.event-img {
  position: absolute;
  left: 0;
  top: 25%;
  z-index: 1;
  transition-delay: 0.1s;
  transform: translateX(-200%);
  transition: transform 1s ease;
}

.event.show .event-img {
  transform: translateX(0);
}

.event.herald .event-img {
  top: 26.65% !important;
}
.event.chemtech .event-img {
  top: 30% !important;
}
.event.infernal .event-img {
  top: 30% !important;
}
.event.mountain .event-img {
  top: 26.5% !important;
}
.event.ocean .event-img {
  top: 0% !important;
}
.event.baron .event-img {
  top: 28% !important;
}

.team {
  position: relative;
  top: 154px;
}

#red .event {
  left: unset;
  right: -2px;
  transform: translateX(200%);
  transition: transform 1s ease;
}

#red .event.show {
  transform: translateX(0);
}

#red .event::after {
  background: linear-gradient(-45deg, var(--red-team) -25%, rgba(0,0,0,0) 75%);
}

#red .event-img {
  left: unset;
  right: 0;
  transition-delay: 0.1s;
  transform: translateX(200%) scale(-1, 1);
  transition: transform 1s ease;
}

#red .event.show .event-img {
  transform: translateX(0) scale(-1, 1);
}

#killfeed {
  position: absolute;
  bottom: 310px;
  right: 180px;
  height: 60;
  width: 170px;
}

.kill {
  --team: var(--blue-team)

  height: 60px;
  width: 170px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  align-items: center;
  padding: 5px;
  gap: 10px;
  transition: margin-bottom 0.5s ease;
  transform: translateX(200%);
  opacity: 0;
  animation: kill 5s ease-in-out forwards;
}

.kill:not(:last-child) {
  margin-bottom: 5px;
}

.kill::after {
  content: '';
  height: 60px;
  width: 170px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(to right, transparent, var(--background-color) 50%, var(--team));
}

.other,
.source {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border: 2px solid var(--background-color);
}

.sword {
  height: 25px;
  width: 25px;
  object-fit: contain;
}

.assist {
  margin-top: auto;
  height: 30px;
  width: 30px;
  object-fit: contain;
  border: 2px solid var(--background-color);
}

@keyframes kill {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  5% {
    transform: translateX(0%);
    opacity: 1;
  }
  95% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}

#platings {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1420px;
  height: 75px;
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  transition: transform 0.3s ease;
}

#platings.hide {
  opacity: 1 !important;
  transform: translate(-50%,-100%);
}

.team-plates {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.team-plates.blue {
  color: var(--blue-team);
}

.team-plates.red {
  color: var(--red-team);
}

.text {
  font-family: var(--primary-font-family);
  font-size: 35px;
  color: var(--text-color);
  margin: 0 100px;
}

.plates,
.gold {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plates span,
.gold span {
  font-family: var(--secondary-font-family);
  font-size: 25px;
  margin-left: 15px;
  margin-top: 10px;
}

.plates img {
  width: 25px;
  height: 25px;
  fill: var(--text-color);
}

.gold img {
  width: 35px;
  height: 35px;
}

.power-play {
  position: absolute;

  width: 200px;
  height: 100px;
  background: var(--background-color);
  display: flex;

  color: var(--text-color);
  transform: translateY(0%);
  transition: transform 0.3s ease;
}

.power-play.hide {
  transform: translateY(-100%);
}

.power-play img {
  width: 85px;
  object-fit: contain;
}

#baron {
  right: 0;
  flex-direction: row-reverse;
}

#baron img {
  transform: scale(-1, 1) !important;
}

.pp-bar {
  --percent: 100;
  position: absolute;
  bottom: 0;
  left: 30%;
  height: 30px;
  width: calc(calc(70 * calc(var(--percent) / 100))* 1%);
  transition: width 0.3s ease;
}

.power-play h1 {
  padding: 0 10px;
  margin-top: 15px;
  font-size: 45px;
}

#elder h1 {
  margin-left: 10px;
}

#elder .pp-bar {
  text-align: right;
  background: linear-gradient(to right, hsl(168, 70%, 29%), #22bd9e);
}

#baron .pp-bar {
  left: unset;
  right: 30%;
  text-align: left;
  background: linear-gradient(to left, hsl(298, 26%, 21%), #734575);
}

.power-play h2 {
  position: absolute;
  bottom: 1px;
  right: 10px;
}

#baron h2 {
  position: absolute;
  bottom: 1px;
  right: unset;
  left: 10px;
}