name: Release

# Run on every commit tag which begins with "v" (e.g., "v0.1.4")
on:
  push:
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

# Automatically create a GitHub Release, with release details specified (the relevant commits)
jobs:
  release:
    name: 'Release'
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v5

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: '16'

      - name: Build
        run: |
          npm ci
          npm run build

      - name: Create Zip
        if: startsWith(github.ref, 'refs/tags/')
        run: zip -r module-league-in-game.zip package.json package-lock.json dist/* frontend/*

      - uses: 'marvinpinto/action-automatic-releases@latest'
        if: startsWith(github.ref, 'refs/tags/')
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          prerelease: false
          files: |
            module-league-in-game.zip
